.startPageContainer {
    text-align: center;
}

.startPageHeader {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.startPageTitle {
    font-family: 'Just Another Hand', cursive;
    font-size: 90px;
}

.startOptions {
    display: flex;
}
